@{
    ViewBag.Title = "Home Page";
}
<section id="main-banner">
    <div class="row no-bottom-margin">
        <div id="main-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <img src="~/Content/img/pics/shutterstock_166421999.jpg"/>
            </div>
            <div class="item">
                <img src="~/Content/img/pics/v4.png" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/Cats-Dogs-Header-Image.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/2017-Our-Best-Friends-Calendar.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/259.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/ketunpet-banner-7.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/mans-best-friend-image-01-1300x700.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/maxresdefault.jpg" />
            </div>
            <div class="item">
                <img src="~/Content/img/pics/One-Night-With-Elvis-2016.jpg" />
            </div>
        </div>
    </div>
</section>

<section id="welcome-to-our-page">
    <div class="row no-bottom-margin grey darken-3">
        <div class="container">
            <div class="col s12 m4 l4 padding-fix">
                <img src="~/Content/img/logo.png" class="responsive-img"/>
            </div>
            <div class="col s12 m8 l8">
                <div class="row no-bottom-margin">
                    <h4 class="teal-text text-darken-1 no-bottom-margin bold">WELCOME TO ARGOS PET SHOP</h4>
                </div>
                <div class="row">
                    <p class="white-text">
                        We are a full service veterinary practice that incorporates all styles and modes of medicine. We will research
                        and implement whatever it takes to get your pet healthy, happy and hanging out with you again. We proudly offer
                        <span class="teal-text text-darken-1">Orijen</span>,<span class="teal-text text-darken-1"> Acana</span> and <span class="teal-text text-darken-1">NULO</span> Dog Foods
                        Argos pet shop was established in 2017, and is Chihuahua owned and operated
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-philosophy">
    <div class="row no-bottom-margin container">
        <div class="row center">
            <h3 class="red-text text-accent-2 bold no-bottom-margin">OUR PHILOSOPHY</h3>
        </div>
        <div class="row">
            <p class="center">
                Our philosophy is finding the right doctor for your needs, and the right treatments for your particular animal friend
                it's Eastern &Aacute; Western Medicine. Rehab Therapy Weight Conditioning and preventive Medicine without the anxity of asking, "the right question".
                We offer our veterinary education to you with compassion and care.
            </p>
        </div>
    </div>
</section>
